<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="employee">
      <h2 data-cy="employeeDetailsHeading"><span jhiTranslate="controleestoquehyspterApp.employee.detail.title">Employee</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ employee.id }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="controleestoquehyspterApp.employee.firstName"
            [ngbTooltip]="'controleestoquehyspterApp.employee.help.firstName' | translate"
            >First Name</span
          >
        </dt>
        <dd>
          <span>{{ employee.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="controleestoquehyspterApp.employee.lastName">Last Name</span></dt>
        <dd>
          <span>{{ employee.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="controleestoquehyspterApp.employee.email">Email</span></dt>
        <dd>
          <span>{{ employee.email }}</span>
        </dd>
        <dt><span jhiTranslate="controleestoquehyspterApp.employee.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ employee.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="controleestoquehyspterApp.employee.cpf">Cpf</span></dt>
        <dd>
          <span>{{ employee.cpf }}</span>
        </dd>
        <dt><span jhiTranslate="controleestoquehyspterApp.employee.pis">Pis</span></dt>
        <dd>
          <span>{{ employee.pis }}</span>
        </dd>
        <dt><span jhiTranslate="controleestoquehyspterApp.employee.ctps">Ctps</span></dt>
        <dd>
          <span>{{ employee.ctps }}</span>
        </dd>
        <dt><span jhiTranslate="controleestoquehyspterApp.employee.birthDate">Birth Date</span></dt>
        <dd>
          <span>{{ employee.birthDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="controleestoquehyspterApp.employee.manager">Manager</span></dt>
        <dd>
          <div *ngIf="employee.manager">
            <a [routerLink]="['/employee', employee.manager?.id, 'view']">{{ employee.manager?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="controleestoquehyspterApp.employee.journey">Journey</span></dt>
        <dd>
          <span *ngFor="let journey of employee.journeys; let last = last">
            <a [routerLink]="['/journey', journey?.id, 'view']">{{ journey.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="controleestoquehyspterApp.employee.department">Department</span></dt>
        <dd>
          <div *ngIf="employee.department">
            <a [routerLink]="['/department', employee.department?.id, 'view']">{{ employee.department?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
