<div>
  <h2 id="page-heading" data-cy="WorkingHoursHeading">
    <span jhiTranslate="controleestoquehyspterApp.workingHours.home.title">Working Hours</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="controleestoquehyspterApp.workingHours.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-working-hours"
        [routerLink]="['/working-hours/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="controleestoquehyspterApp.workingHours.home.createLabel"> Create a new Working Hours </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="workingHours?.length === 0">
    <span jhiTranslate="controleestoquehyspterApp.workingHours.home.notFound">No workingHours found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="workingHours && workingHours.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="controleestoquehyspterApp.workingHours.entry">Entry</span></th>
          <th scope="col"><span jhiTranslate="controleestoquehyspterApp.workingHours.leavingWork">Leaving Work</span></th>
          <th scope="col"><span jhiTranslate="controleestoquehyspterApp.workingHours.extraTime">Extra Time</span></th>
          <th scope="col"><span jhiTranslate="controleestoquehyspterApp.workingHours.extraTime2">Extra Time 2</span></th>
          <th scope="col"><span jhiTranslate="controleestoquehyspterApp.workingHours.entryRest">Entry Rest</span></th>
          <th scope="col"><span jhiTranslate="controleestoquehyspterApp.workingHours.returnRest">Return Rest</span></th>
          <th scope="col"><span jhiTranslate="controleestoquehyspterApp.workingHours.dayWeek">Day Week</span></th>
          <th scope="col"><span jhiTranslate="controleestoquehyspterApp.workingHours.day">Day</span></th>
          <th scope="col"><span jhiTranslate="controleestoquehyspterApp.workingHours.journey">Journey</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workingHours of workingHours; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/working-hours', workingHours.id, 'view']">{{ workingHours.id }}</a>
          </td>
          <td>{{ workingHours.entry | formatMediumDate }}</td>
          <td>{{ workingHours.leavingWork | formatMediumDatetime }}</td>
          <td>{{ workingHours.extraTime | formatMediumDatetime }}</td>
          <td>{{ workingHours.extraTime2 | formatMediumDatetime }}</td>
          <td>{{ workingHours.entryRest | formatMediumDatetime }}</td>
          <td>{{ workingHours.returnRest | formatMediumDatetime }}</td>
          <td>{{ workingHours.dayWeek | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'controleestoquehyspterApp.Days.' + workingHours.day }}">{{ workingHours.day }}</td>
          <td>
            <span *ngFor="let journey of workingHours.journeys; let last = last">
              <a class="form-control-static" [routerLink]="['/journey', journey.id, 'view']">{{ journey.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/working-hours', workingHours.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/working-hours', workingHours.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(workingHours)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
