<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-employee-heading"
        data-cy="EmployeeCreateUpdateHeading"
        jhiTranslate="controleestoquehyspterApp.employee.home.createOrEditLabel"
      >
        Create or edit a Employee
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="controleestoquehyspterApp.employee.firstName"
            for="field_firstName"
            [ngbTooltip]="'controleestoquehyspterApp.employee.help.firstName' | translate"
            >First Name</label
          >
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleestoquehyspterApp.employee.lastName" for="field_lastName"
            >Last Name</label
          >
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleestoquehyspterApp.employee.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleestoquehyspterApp.employee.phoneNumber" for="field_phoneNumber"
            >Phone Number</label
          >
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleestoquehyspterApp.employee.cpf" for="field_cpf">Cpf</label>
          <input type="text" class="form-control" name="cpf" id="field_cpf" data-cy="cpf" formControlName="cpf" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleestoquehyspterApp.employee.pis" for="field_pis">Pis</label>
          <input type="text" class="form-control" name="pis" id="field_pis" data-cy="pis" formControlName="pis" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleestoquehyspterApp.employee.ctps" for="field_ctps">Ctps</label>
          <input type="text" class="form-control" name="ctps" id="field_ctps" data-cy="ctps" formControlName="ctps" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleestoquehyspterApp.employee.birthDate" for="field_birthDate"
            >Birth Date</label
          >
          <div class="input-group">
            <input
              id="field_birthDate"
              data-cy="birthDate"
              type="text"
              class="form-control"
              name="birthDate"
              ngbDatepicker
              #birthDateDp="ngbDatepicker"
              formControlName="birthDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleestoquehyspterApp.employee.manager" for="field_manager">Manager</label>
          <select class="form-control" id="field_manager" data-cy="manager" name="manager" formControlName="manager">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="employeeOption.id === editForm.get('manager')!.value?.id ? editForm.get('manager')!.value : employeeOption"
              *ngFor="let employeeOption of employeesSharedCollection; trackBy: trackEmployeeById"
            >
              {{ employeeOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="controleestoquehyspterApp.employee.journey" for="field_journeys">Journey</label>
          <select class="form-control" id="field_journeys" data-cy="journey" multiple name="journeys" formControlName="journeys">
            <option
              [ngValue]="getSelectedJourney(journeyOption, editForm.get('journeys')!.value)"
              *ngFor="let journeyOption of journeysSharedCollection; trackBy: trackJourneyById"
            >
              {{ journeyOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleestoquehyspterApp.employee.department" for="field_department"
            >Department</label
          >
          <select class="form-control" id="field_department" data-cy="department" name="department" formControlName="department">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                departmentOption.id === editForm.get('department')!.value?.id ? editForm.get('department')!.value : departmentOption
              "
              *ngFor="let departmentOption of departmentsSharedCollection; trackBy: trackDepartmentById"
            >
              {{ departmentOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
